/* index.css */
@import "tailwindcss";

/* Tambahkan font digital/modern jika mau */
@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
    font-family: 'Inter', sans-serif;
  }
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(6px); }
  75% { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.35s ease-in-out;
}
