/* index.css */
@import "tailwindcss";

/* Tambahkan font digital/modern jika mau */
@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
    font-family: 'Inter', sans-serif;
  }
}